
@import url('style.css');
@media (max-width: 2000px) {
    /* Selectors and styles affecting screens UP TO 2000px (Desctop) */
  #banner{
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 5%;
    padding: 1;
  }
  h1{
    float: left;
    width: 50%;
  }
  ul {

      float: right;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
  }


  li {
      float: left;
  }


  li a {
      border-left: 1px solid #000000;
      display: block;
      text-align: center;
      padding: 5px 5px;
      text-decoration: none;
  }

  #firstSection{
    float: left;
    width: 30%;
    padding: 1%;
    margin: 1%;
  }
  #secondSection{
    float: left;
    width: 25%;
    padding: 1%;
    margin: 1%;
  }
  #thirdSection{
    float: left;
    width: 30%;
    padding: 1%;
    margin: 1%;
  }


}

@media (max-width: 767px) {
  /* Selectors and styles affecting screens UP TO 767px (Tablet) */
  h1{
    float: left;
    width: 40%;
  }
  ul {
      float: left;
      width: 50%;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
  }
  #banner{
    float: left;
    width: auto;
    height: auto;
  }
  #firstSection{
    float: left;
    width: 20%;
    padding: 1%;
    margin: 1%;
  }
  #secondSection{
    float: left;
    width: 20%;
    padding: 1%;
    margin: 1%;
  }
  #thirdSection{
    float: left;
    width: 20%;
    padding: 1%;
    margin: 1%;
  }
}

@media (max-width: 480px) {
  html{
    width: 375px;
  }
  #banner{
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
  }
  h1{
    float: left;
    width: 100%;
  }
  ul {
      width: 100%;
      margin: 0 auto;
      float: none;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      margin-bottom: 1%;
  }


  li {
    background-color: gray;
      float: none;
  }


  li a {

      display: block;
      text-align: center;
      padding: 5px 5px;
      text-decoration: none;
  }
  #navFooter{
    display: none;
  }
  #firstSection{
    float: none;
    width: auto;
    padding: 1%;
    margin: 1%;
  }
  #secondSection{
    float: none;
    width: auto;
    padding: 1%;
    margin: 1%;
  }
  #thirdSection{
    float: none;
    width: auto;
    padding: 1%;
    margin: 1%;
  }
    /* Selectors and styles affecting screens UP TO 480px (Phone) */
}
