@import url('style.css');
@media (min-width: 350px) {
  html{
    width: 375px;
  }
  #banner{
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
  }
  h1{
    float: left;
    width: 100%;
  }
  ul {
      width: 100%;
      margin: 0 auto;
      float: none;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      margin-bottom: 1%;
  }


  li {
    background-color: gray;
      float: none;
  }


  li a {

      display: block;
      text-align: center;
      padding: 5px 5px;
      text-decoration: none;
  }
  #navFooter{
    display: none;
  }
  #firstSection{
    float: none;
    width: auto;
    padding: 1%;
    margin: 1%;
  }
  #secondSection{
    float: none;
    width: auto;
    padding: 1%;
    margin: 1%;
  }
  #thirdSection{
    float: none;
    width: auto;
    padding: 1%;
    margin: 1%;
  }
    /* Selectors and styles affecting screens WIDER THAN 767px (Tablet) */
}
@media (min-width: 979px) {
  html{
    width: 1000px;
  }
  #banner{
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 5%;
    padding: 1;
  }
  h1{
    float: left;
    width: 50%;
  }
  ul {
      width: 50%;
      float: right;
      margin-top: 3%;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
  }


  li {
      float: right;
      background-color: inherit;
  }


  li a {
      border-left: 1px solid #000000;
      display: block;
      text-align: center;
      padding: 5px 5px;
      text-decoration: none;
  }

  #firstSection{
    float: left;
    width: 30%;
    padding: 1%;
    margin: 1%;
  }
  #secondSection{
    float: left;
    width: 25%;
    padding: 1%;
    margin: 1%;
  }
  #thirdSection{
    float: left;
    width: 30%;
    padding: 1%;
    margin: 1%;
  }
  #navFooter{
    display: inline;
  }
}
