#contenedor {
  position: static;
}
.parrafo2 {
  position: relative;
  right: -20%;
  bottom: -20%;"
}
.titulo-absolute{
  position: absolute;
  right: 40%;
  background: gray;
}
.titulo-fixed{
  position: fixed;
  top: 3%;
  left: 10%;
  background: gray;
}
.titulo-right{
  float: left;
}
.text-left{
  text-align: left;
}
